body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.custom-navbar {
  background-color: #37ABF6;
  padding: 10px;
}

.custom-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-navbar .container .navbar-links .links {
  margin-left: auto;
}

.custom-navbar .logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.custom-navbar .navbar-links {
  display: none;
}

.custom-navbar .navbar-links.active {
  display: block;
}

.custom-navbar .navbar-links ul {
  list-style-type: none;
  padding: 0;
}

.custom-navbar .navbar-links ul li {
  display: inline;
  margin: 0 15px;
}

.custom-navbar .navbar-links ul li a {
  color: white;
  text-decoration: none;
}

.toggle-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.hero {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.hero-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero-text {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  font-size: 2rem;
}

.section-paragraph {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.btn {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.btn-primary {
  background-color: #F0B835;
  color: white;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  margin-bottom: 2rem;
}

.coa {
  background-color: #37ABF6;
  padding: 1rem;
  text-align: center;
}

.album {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}

.card {
  background: #129CED;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  width: calc(33% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin: 0;
}

.card-text {
  color: #0C0C0D;
}

.testimonials {
  background-color: #37ABF6;
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 33.33%;
}

.footer-icons {
  margin-left: 1rem;
  list-style-type: none;
  text-decoration: none;
  color: #0C0C0D;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px; 
}


/* Responsive */
@media (min-width: 768px) {
  .custom-navbar .navbar-links {
    display: flex;
  }

  .toggle-button {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    padding-top: 0.2rem;
  }

  .hero-heading {
    font-size: 2rem;
  }

  .card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}